.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 
  This is the horizontal component
*/
.table {
	margin: 0 auto;
}

ul#horizontal-list {
  overflow: hidden;
	list-style: none;
  padding-top: 20px;
  white-space: nowrap;
  height: 45px
}
ul#horizontal-list li {
  display: inline;
}
ul#horizontal-list li:hover{
  background-color: rgb(238, 236, 236);
  cursor: pointer
}
a:focus{
  color: 'blue';
  font-weight: 700;
}

.list-items {
  margin-right: 25px
}
.prvButton {
  float: right
}
.selected {
  font-weight: 700;
}
.iconButton{
  margin-top: 25px !important;
}
.textContainer{
  text-align: center;
}